.controls {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  right: 50%;
  transform: translateX(50%);
  background-color: rgba(111, 45, 189, 0.7);
  padding: 8px 16px;
  border-radius: 4px;
}

button {
  font-family: 'Courier New', Courier, monospace;
  padding: 4px 8px;
  width: 100px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgb(10, 255, 198);
  color: rgb(111, 45, 189);
  font-weight: bold;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

.margin-right {
  margin-right: 8px;
}